*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* !tavolozza colori e font
font-family: 'Open Sans', sans-serif;  da 300 a 500 di fw
        #0061ff blu acceso
        #b4d0e7 jumbo bgc
*/








/*!utilità*/
.bordo{
    border: 2px solid black;
}
.container-main{
    max-width: 1300px;
    margin: auto;
}
.flex{
    display: flex;
}

.container-alt{
    max-width: 1000px;
    margin: auto;
}

:root{
    --marginb: 70px;
    --blue-color-button:  #0061ff
}
.bordo-b{
    border: 2px solid white;
}
button{
    color: white;
    padding: 10px 20px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
}

.mb-30{
    margin-bottom: var(--marginb);
}









/*!generale*/
body{
    font-family: 'Open Sans', sans-serif;
}

.header-body{
    height: 80px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;
}
.header-body>*{
    flex-basis: 50%;
    
}


/*!HEAD*/
/*!head left*/
.head-left{
    display: flex;
    align-items: center;
}


/*!head right*/
.head-right,.head-content ul{
    justify-content: flex-end;
}



/*!HEAD UTILITYS*/
.head-content ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
}
.head-content ul li{
    padding-left: 45px;
    font-size: 17px;
    
}
.head-content ul button{
    background-color: var(--blue-color-button);
    margin-right: 20px;
}


/*! MAIN*/
main{
    padding-top: 70px;
}
/*!JUMBO*/
.jumbo-bgc{
    background-color: #b4d0e7;
    height: 700px;
    margin-bottom: var(--marginb);
}
.jumbo{
    height: 700px;
}
.jumbo .jumbo-title{
    height: 40%;
}
.jumbo-title h1{
    font-size: 80px;
    padding: 20px;
    font-weight: 800;
}
.jumbo .jumbo-info{
    display: flex;
    height: calc(700px - 40%);
}
.jumbo-info .jumbo-text{
    flex-basis: 40%;
    padding: 40px;
}
.jumbo-text button{
    background-color: var(--blue-color-button);
    margin: 30px 0;
}
.jumbo-info .jumbo-img{
    flex-basis: 60%;
    position: relative;
}
.jumbo-img img{
    width: 100%;
    position: absolute;
    top: 50px;
}
/*!TARIFFE*/
.tariffe{
    display: flex;
    min-height: 500px;
    gap: 20px;
    margin-bottom: var(--marginb);
}
.tariffe-title{
    margin-top: 100px;
    font-size: 40px;
}
.tariffe .column{
    flex-basis: 32%;
}
 .tar-name{
    height: 50px;
    text-align: center;
    line-height: 50px;
}


.tar-info{
    padding: 25px;
    line-height: 25px;
}
.tar-info h3{
    font-size: 23px;
}
.tar-info p:first-of-type{
    padding-top: 15px;
    font-weight: 800;
}

.tar-body{
    padding: 25px;
}
.tar-body ul>*{
    padding-bottom: 15px;
    list-style-type: none;
}
.tar-body button{
    background-color: var(--blue-color-button);
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}



.tar-body .divisorio{
    border: 1px solid lightgrey;
    width: 70px;
    margin-top: 30px;
}



.tar-foot{
    padding: 25px;
}
.tar-foot p:first-of-type{
    padding-top: 15px;
    font-weight: 800;
    margin-bottom: 20px;
}
.tar-foot ul>*{
    list-style-type: none;
    padding-bottom: 15px;
}








.tariffa-special{
    min-height: 150px;
    margin-bottom: var(--marginb);
    
}
.tar-special{
    text-align: center;
    padding: 5px;
}
.special-body{
    padding: 15px;
    flex-basis: 70%;
    height: 100px;
}
.special-body h3:first-child{
padding-bottom: 10px;
}
.special-foot{
    padding: 20px;
    flex-basis: 30%;
    justify-content: flex-end;
}
.special-foot button{
    background-color: var(--blue-color-button); 
}
.special-info{
    width: 70%;
    padding: 15px;
}

/*!PRESENTATION*/
.presentation{
    min-height: 400px;
    margin-bottom: var(--marginb);

}
.presentation .left-col{
    flex-basis: 70%;
}
.presentation .left-col img{
    width: 100%;
    display: block;
}
.presentation .right-col{
    flex-basis: 45%;
    padding: 50px 30px;
}
.presentation .right-col h3{
    font-size: 25px;
    margin-bottom: 15px;
}
/*!ESPOSIZIONE*/
.esposition{
    min-height: 800px;
    margin-bottom: var(--marginb);
}
.esposition .title{
    min-height: 60px;
    font-size: 25px;
}
.espo-box{
    min-height: calc(100% - 60px);
    flex-wrap: wrap;
}
.espo-box .card{
    width: calc(100% / 3);
    height: 500px;
    margin-bottom: 20px;
    
}
.card .card-img{
    height: 50%;
}
.card .card-info{
    height: 50%;
}
/*!FACTS*/
.facts{
    min-height: 150px;
    margin-bottom: var(--marginb);
}
/*!SPONSORS*/
.sponsor{
    min-height: 600px;
}
.sponsor .col{
    flex-basis: 33%;
}
.sponsor .left,.right{
    flex-wrap: wrap;
}
.col .square{
    flex-basis: 50%;
    height: calc(100% / 2);
}
/*!TRY*/
.try-bgc{
    background-color: #b4d0e7;
    margin-bottom: var(--marginb);
}
.try{
    min-height: 300px;
}
/*!FAQ*/
.faq{
    margin-bottom: var(--marginb);
}
.faq-title{
    height: 150px;
}
.faq-section{
    min-height: 100px;
}






/*!FOOTER*/
footer{
    color: white;
}
.footer-bgc{
    background-color: black;
    padding: 30px;
}
.footer-body{
    min-height: 500px;
}
.foot-col{
    flex-basis: 25%;
}
.lang{
    height: 100px;
    width: 150px;
}