*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* !tavolozza colori e font
font-family: 'Open Sans', sans-serif;  da 300 a 500 di fw
        #0061ff blu acceso
        #b4d0e7 jumbo bgc
*/








/*!utilità*/
.bordo{
    border: 2px solid black;
}
.container-main{
    max-width: 1300px;
    margin: auto;
}
.flex{
    display: flex;
}

.container-alt{
    max-width: 1000px;
    margin: auto;
}

:root{
    --marginb: 70px;
}













/*!generale*/
body{
    font-family: 'Open Sans', sans-serif;
}

.header-body{
    height: 80px;
    align-items: center;
}
.header-body>*{
    flex-basis: 50%;
    
}


/*!HEAD*/
/*!head left*/
.head-left{
    display: flex;
    align-items: center;
}


/*!head right*/
.head-right,.head-content ul{
    justify-content: flex-end;
}



/*!HEAD UTILITYS*/
.head-content ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
}
.head-content ul li{
    padding-left: 45px;
    font-size: 17px;
    
}
.head-content ul button{
    background-color: #0061ff;
    color: white;
    padding: 10px 20px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
}

/*! MAIN*/
/*!JUMBO*/
.jumbo-bgc{
    background-color: #b4d0e7;
    height: 700px;
    margin-bottom: var(--marginb);
}
.jumbo{
    height: 700px;
}
.jumbo .jumbo-title{
    height: 40%;
}
.jumbo .jumbo-info{
    display: flex;
    height: calc(700px - 40%);
}
.jumbo-info .jumbo-text{
    flex-basis: 40%;
}
.jumbo-info .jumbo-img{
    flex-basis: 60%;
}
/*!TARIFFE*/
.tariffe{
    display: flex;
    min-height: 500px;
    gap: 20px;
    margin-bottom: var(--marginb);
}
.tariffe .column{
    flex-basis: 32%;
}
 .tar-info{
    height: 50px;
}

.tariffa-special{
    height: 150px;
    margin-bottom: var(--marginb);
    
}
/*!PRESENTATION*/
.presentation{
    min-height: 400px;
    margin-bottom: var(--marginb);

}
.presentation .left-col{
    flex-basis: 60%;
}
.presentation .right-col{
    flex-basis: 45%;
}
/*!ESPOSIZIONE*/
.esposition{
    min-height: 800px;
    margin-bottom: var(--marginb);
}
.esposition .title{
    min-height: 60px;
}
.espo-box{
    min-height: calc(100% - 60px);
    flex-wrap: wrap;
}
.espo-box .card{
    width: calc(100% / 3);
    height: 300px;
    margin-bottom: 20px;
}
/*!FACTS*/
.facts{
    min-height: 150px;
    margin-bottom: var(--marginb);
}
/*!SPONSORS*/
.sponsor{
    min-height: 600px;
}
.sponsor .col{
    flex-basis: 33%;
}
.sponsor .left,.right{
    flex-wrap: wrap;
}
.col .square{
    flex-basis: 50%;
    height: calc(100% / 2);
}
/*!TRY*/
.try-bgc{
    background-color: #b4d0e7;
    margin-bottom: var(--marginb);
}
.try{
    min-height: 300px;
}
/*!FAQ*/
.faq-title{
    height: 150px;
}
.faq-section{
    min-height: 100px;
}